body {
	margin: 0;
	padding: 0;
}

.main-frame {
	background: url(../img/bg.jpg) center center/cover no-repeat;
}

.container {
	width: 600px;
	margin: 0 auto;
	min-height: 100vh;	
	font-family: 'New Rocker', cursive;
	padding-bottom: 30px;
}

.text-selection_none {
	/*запрет выделения текста*/
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.title-h1 {
	padding: 40px 0 0 0;
	margin: 0;
	text-align: center;
	font-size: 50px;
	color: #d8702c;
	
}

#game-field {
	text-align: center;
}

#c1 {	
	background-image: url(../img/canvas-bg-test.png);
	height: 400px;
	width: 400px;		
	margin: 50px 0;	
	cursor: pointer;
}

#new-game {
	margin: 0 auto;
	display: block;
	cursor: pointer;
	font-family: 'New Rocker', cursive;
	font-size: 24px;
	background-color: #b0baaf;
	outline: none;
	opacity: 0.65;	
}

.fruit {
	display: none;
}

.description {
	background-color: #b0baaf;	
	opacity: 0.8;
	margin-top: 40px;
}
